workflow-templates/GCS (object).json
{
  "name": "GCS - Object Actions Only",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "options": {
          "customEmailConfig": "[\"UNSEEN\", [\"SUBJECT\", \"gcs object\"]]"
        }
      },
      "id": "trigger-obj",
      "name": "1. GET Email Request (Trigger)",
      "type": "n8n-nodes-base.emailReadImap",
      "position": [-1200, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const text = $json.textPlain || \"\";\nconst subject = $json.textSubject || \"\";\n\n// 1. Extract Bucket Name\nconst bucketMatch = text.match(/bucket[:\\s]*([a-z0-9-_.]+)/i) || subject.match(/bucket[:\\s]*([a-z0-9-_.]+)/i);\nconst bucketName = bucketMatch ? bucketMatch[1] : null;\n\n// 2. Extract Object Name\nconst objectMatch = text.match(/object[:\\s]*([^\\s]+)/i) || subject.match(/object[:\\s]*([^\\s]+)/i);\nconst objectName = objectMatch ? objectMatch[1] : null;\n\n// 3. Determine Task Type\nlet task_type = \"\";\nif (/create object|upload/i.test(text) || /create object|upload/i.test(subject)) task_type = \"create_object\";\nelse if (/delete object/i.test(text) || /delete object/i.test(subject)) task_type = \"delete_object\";\nelse if (/list objects/i.test(text) || /list objects/i.test(subject)) task_type = \"list_objects\";\nelse if (/get object/i.test(text) || /get object/i.test(subject)) task_type = \"get_object\";\nelse if (/update object/i.test(text) || /update object/i.test(subject)) task_type = \"update_object\";\n\nreturn [{ json: { bucketName, objectName, task_type } }];"
      },
      "id": "parser-obj",
      "name": "2. Extract Data from Email",
      "type": "n8n-nodes-base.code",
      "position": [-980, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "conditions": [{ "leftValue": "={{$json.task_type}}", "rightValue": "create_object", "operator": { "type": "string", "operation": "equals" } }] } },
            { "conditions": { "conditions": [{ "leftValue": "={{$json.task_type}}", "rightValue": "delete_object", "operator": { "type": "string", "operation": "equals" } }] } },
            { "conditions": { "conditions": [{ "leftValue": "={{$json.task_type}}", "rightValue": "get_object", "operator": { "type": "string", "operation": "equals" } }] } },
            { "conditions": { "conditions": [{ "leftValue": "={{$json.task_type}}", "rightValue": "list_objects", "operator": { "type": "string", "operation": "equals" } }] } },
            { "conditions": { "conditions": [{ "leftValue": "={{$json.task_type}}", "rightValue": "update_object", "operator": { "type": "string", "operation": "equals" } }] } }
          ]
        }
      },
      "id": "switch-obj",
      "name": "3. Check Type Of Task",
      "type": "n8n-nodes-base.switch",
      "position": [-760, 0],
      "typeVersion": 3
    },
    { "parameters": { "resource": "object", "operation": "create", "bucketName": "={{$json.bucketName}}", "objectName": "={{$json.objectName}}", "binaryData": false, "content": "Sample content" }, "id": "gcs-create-obj", "name": "3A. Create Object", "type": "n8n-nodes-base.googleCloudStorage", "position": [-400, -200], "typeVersion": 1, "onError": "continueRegularOutput" },
    { "parameters": { "resource": "object", "operation": "delete", "bucketName": "={{$json.bucketName}}", "objectName": "={{$json.objectName}}" }, "id": "gcs-del-obj", "name": "3B. Delete Object", "type": "n8n-nodes-base.googleCloudStorage", "position": [-400, -100], "typeVersion": 1, "onError": "continueRegularOutput" },
    { "parameters": { "resource": "object", "operation": "get", "bucketName": "={{$json.bucketName}}", "objectName": "={{$json.objectName}}" }, "id": "gcs-get-obj", "name": "3C. Get Object", "type": "n8n-nodes-base.googleCloudStorage", "position": [-400, 0], "typeVersion": 1, "onError": "continueRegularOutput" },
    { "parameters": { "resource": "object", "operation": "getAll", "bucketName": "={{$json.bucketName}}", "returnAll": true }, "id": "gcs-list-obj", "name": "3D. List Objects", "type": "n8n-nodes-base.googleCloudStorage", "position": [-400, 100], "typeVersion": 1, "onError": "continueRegularOutput" },
    { "parameters": { "resource": "object", "operation": "update", "bucketName": "={{$json.bucketName}}", "objectName": "={{$json.objectName}}", "metadataUi": { "metadataValues": [{ "key": "status", "value": "updated" }] } }, "id": "gcs-upd-obj", "name": "3E. Update Object", "type": "n8n-nodes-base.googleCloudStorage", "position": [-400, 200], "typeVersion": 1, "onError": "continueRegularOutput" },
    {
      "parameters": {
        "jsCode": "const taskType = $json.task_type || \"\";\nconst bucketName = $json.bucketName || \"\";\nconst objectName = $json.objectName || \"\";\nconst errorMsg = $json.error || \"\";\nconst status = $json.status || \"success\";\n\n// If there is an error message, treat as failure\nconst isFailure = !!errorMsg;\n\nconst taskMap = {\n  create_object: \"Create GCS Object\",\n  delete_object: \"Delete GCS Object\",\n  get_object: \"Get GCS Object\",\n  list_objects: \"List GCS Objects\",\n  update_object: \"Update GCS Object\"\n};\n\nlet subject = \"\";\nlet message = \"\";\n\nif (isFailure) {\n    subject = `❌ Failure - ${taskMap[taskType] || \"GCS Task\"}`;\n    message = `❌ ${taskMap[taskType] || \"Task\"} failed.\\n`;\n    if (bucketName) message += `Bucket: ${bucketName}\\n`;\n    if (objectName) message += `Object: ${objectName}\\n`;\n    message += `Error: ${errorMsg}\\n`;\n} else {\n    subject = `✅ Success - ${taskMap[taskType] || \"GCS Task\"}`;\n    message = `✅ ${taskMap[taskType] || \"Task\"} completed successfully.\\n`;\n    if (bucketName) message += `Bucket: ${bucketName}\\n`;\n    if (objectName) message += `Object: ${objectName}\\n`;\n    \n    // Handle List Objects\n    if (taskType === \"list_objects\") {\n        const items = $input.all().map(i => i.json.name).join(\"\\n\");\n        if (items.length > 0) {\n             message += `\\nObjects Found:\\n${items}`;\n        } else {\n             message += \"\\nNo objects found.\";\n        }\n    }\n}\n\nreturn { json: { subject, body: message } };"
      },
      "id": "response-obj",
      "name": "4. Make Response Email",
      "type": "n8n-nodes-base.code",
      "position": [-100, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fromEmail": "bot@example.com",
        "toEmail": "={{ $('1. GET Email Request (Trigger)').item.json.from }}",
        "subject": "={{$json.subject}}",
        "text": "={{$json.body}}",
        "options": { "replyTo": "={{ $('1. GET Email Request (Trigger)').item.json.from }}" }
      },
      "id": "send-obj",
      "name": "5. Send Email Response",
      "type": "n8n-nodes-base.emailSend",
      "position": [100, 0],
      "typeVersion": 2
    }
  ],
  "connections": {
    "1. GET Email Request (Trigger)": { "main": [[{ "node": "2. Extract Data from Email", "type": "main", "index": 0 }]] },
    "2. Extract Data from Email": { "main": [[{ "node": "3. Check Type Of Task", "type": "main", "index": 0 }]] },
    "3. Check Type Of Task": {
      "main": [
        [{ "node": "3A. Create Object", "type": "main", "index": 0 }],
        [{ "node": "3B. Delete Object", "type": "main", "index": 0 }],
        [{ "node": "3C. Get Object", "type": "main", "index": 0 }],
        [{ "node": "3D. List Objects", "type": "main", "index": 0 }],
        [{ "node": "3E. Update Object", "type": "main", "index": 0 }]
      ]
    },
    "3A. Create Object": { "main": [[{ "node": "4. Make Response Email", "type": "main", "index": 0 }]] },
    "3B. Delete Object": { "main": [[{ "node": "4. Make Response Email", "type": "main", "index": 0 }]] },
    "3C. Get Object": { "main": [[{ "node": "4. Make Response Email", "type": "main", "index": 0 }]] },
    "3D. List Objects": { "main": [[{ "node": "4. Make Response Email", "type": "main", "index": 0 }]] },
    "3E. Update Object": { "main": [[{ "node": "4. Make Response Email", "type": "main", "index": 0 }]] },
    "4. Make Response Email": { "main": [[{ "node": "5. Send Email Response", "type": "main", "index": 0 }]] }
  }
}