workflow-templates/GCS(bucket).json
{
  "name": "GCS - Bucket Actions Only",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "options": {
          "customEmailConfig": "[\"UNSEEN\", [\"SUBJECT\", \"gcs bucket\"]]"
        }
      },
      "id": "trigger-buck",
      "name": "1. GET Email Request (Trigger)",
      "type": "n8n-nodes-base.emailReadImap",
      "position": [-1200, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const text = $json.textPlain || \"\";\nconst subject = $json.textSubject || \"\";\n\n// 1. Extract Bucket Name\nconst bucketMatch = text.match(/bucket[:\\s]*([a-z0-9-_.]+)/i) || subject.match(/bucket[:\\s]*([a-z0-9-_.]+)/i);\nconst bucketName = bucketMatch ? bucketMatch[1] : null;\n\n// 2. Determine Task Type\nlet task_type = \"\";\nif (/create bucket/i.test(text) || /create bucket/i.test(subject)) task_type = \"create_bucket\";\nelse if (/delete bucket/i.test(text) || /delete bucket/i.test(subject)) task_type = \"delete_bucket\";\nelse if (/list buckets/i.test(text) || /list buckets/i.test(subject)) task_type = \"list_buckets\";\nelse if (/get bucket/i.test(text) || /get bucket/i.test(subject)) task_type = \"get_bucket\";\nelse if (/update bucket/i.test(text) || /update bucket/i.test(subject)) task_type = \"update_bucket\";\n\nreturn [{ json: { bucketName, task_type } }];"
      },
      "id": "parser-buck",
      "name": "2. Extract Data from Email",
      "type": "n8n-nodes-base.code",
      "position": [-980, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "conditions": [{ "leftValue": "={{$json.task_type}}", "rightValue": "create_bucket", "operator": { "type": "string", "operation": "equals" } }] } },
            { "conditions": { "conditions": [{ "leftValue": "={{$json.task_type}}", "rightValue": "delete_bucket", "operator": { "type": "string", "operation": "equals" } }] } },
            { "conditions": { "conditions": [{ "leftValue": "={{$json.task_type}}", "rightValue": "get_bucket", "operator": { "type": "string", "operation": "equals" } }] } },
            { "conditions": { "conditions": [{ "leftValue": "={{$json.task_type}}", "rightValue": "list_buckets", "operator": { "type": "string", "operation": "equals" } }] } },
            { "conditions": { "conditions": [{ "leftValue": "={{$json.task_type}}", "rightValue": "update_bucket", "operator": { "type": "string", "operation": "equals" } }] } }
          ]
        }
      },
      "id": "switch-buck",
      "name": "3. Check Type Of Task",
      "type": "n8n-nodes-base.switch",
      "position": [-760, 0],
      "typeVersion": 3
    },
    { "parameters": { "resource": "bucket", "operation": "create", "bucketName": "={{$json.bucketName}}", "location": "US" }, "id": "gcs-create-buck", "name": "3A. Create Bucket", "type": "n8n-nodes-base.googleCloudStorage", "position": [-400, -200], "typeVersion": 1, "onError": "continueRegularOutput" },
    { "parameters": { "resource": "bucket", "operation": "delete", "bucketName": "={{$json.bucketName}}" }, "id": "gcs-del-buck", "name": "3B. Delete Bucket", "type": "n8n-nodes-base.googleCloudStorage", "position": [-400, -100], "typeVersion": 1, "onError": "continueRegularOutput" },
    { "parameters": { "resource": "bucket", "operation": "get", "bucketName": "={{$json.bucketName}}" }, "id": "gcs-get-buck", "name": "3C. Get Bucket", "type": "n8n-nodes-base.googleCloudStorage", "position": [-400, 0], "typeVersion": 1, "onError": "continueRegularOutput" },
    { "parameters": { "resource": "bucket", "operation": "getAll", "returnAll": true }, "id": "gcs-list-buck", "name": "3D. List Buckets", "type": "n8n-nodes-base.googleCloudStorage", "position": [-400, 100], "typeVersion": 1, "onError": "continueRegularOutput" },
    { "parameters": { "resource": "bucket", "operation": "update", "bucketName": "={{$json.bucketName}}", "labelsUi": { "labelsValues": [{ "key": "env", "value": "prod" }] } }, "id": "gcs-upd-buck", "name": "3E. Update Bucket", "type": "n8n-nodes-base.googleCloudStorage", "position": [-400, 200], "typeVersion": 1, "onError": "continueRegularOutput" },
    {
      "parameters": {
        "jsCode": "const taskType = $json.task_type || \"\";\nconst bucketName = $json.bucketName || \"\";\nconst errorMsg = $json.error || \"\";\nconst isFailure = !!errorMsg;\n\nconst taskMap = {\n  create_bucket: \"Create GCS Bucket\",\n  delete_bucket: \"Delete GCS Bucket\",\n  get_bucket: \"Get GCS Bucket\",\n  list_buckets: \"List GCS Buckets\",\n  update_bucket: \"Update GCS Bucket\"\n};\n\nlet subject = \"\";\nlet message = \"\";\n\nif (isFailure) {\n    subject = `❌ Failure - ${taskMap[taskType] || \"GCS Task\"}`;\n    message = `❌ ${taskMap[taskType] || \"Task\"} failed.\\n`;\n    if (bucketName) message += `Bucket: ${bucketName}\\n`;\n    message += `Error: ${errorMsg}\\n`;\n} else {\n    subject = `✅ Success - ${taskMap[taskType] || \"GCS Task\"}`;\n    message = `✅ ${taskMap[taskType] || \"Task\"} completed successfully.\\n`;\n    if (bucketName) message += `Bucket: ${bucketName}\\n`;\n    \n    // Handle List Buckets\n    if (taskType === \"list_buckets\") {\n        const items = $input.all().map(i => i.json.name).join(\"\\n\");\n        if (items.length > 0) {\n             message += `\\nBuckets Found:\\n${items}`;\n        } else {\n             message += \"\\nNo buckets found.\";\n        }\n    }\n}\n\nreturn { json: { subject, body: message } };"
      },
      "id": "response-buck",
      "name": "4. Make Response Email",
      "type": "n8n-nodes-base.code",
      "position": [-100, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fromEmail": "bot@example.com",
        "toEmail": "={{ $('1. GET Email Request (Trigger)').item.json.from }}",
        "subject": "={{$json.subject}}",
        "text": "={{$json.body}}",
        "options": { "replyTo": "={{ $('1. GET Email Request (Trigger)').item.json.from }}" }
      },
      "id": "send-buck",
      "name": "5. Send Email Response",
      "type": "n8n-nodes-base.emailSend",
      "position": [100, 0],
      "typeVersion": 2
    }
  ],
  "connections": {
    "1. GET Email Request (Trigger)": { "main": [[{ "node": "2. Extract Data from Email", "type": "main", "index": 0 }]] },
    "2. Extract Data from Email": { "main": [[{ "node": "3. Check Type Of Task", "type": "main", "index": 0 }]] },
    "3. Check Type Of Task": {
      "main": [
        [{ "node": "3A. Create Bucket", "type": "main", "index": 0 }],
        [{ "node": "3B. Delete Bucket", "type": "main", "index": 0 }],
        [{ "node": "3C. Get Bucket", "type": "main", "index": 0 }],
        [{ "node": "3D. List Buckets", "type": "main", "index": 0 }],
        [{ "node": "3E. Update Bucket", "type": "main", "index": 0 }]
      ]
    },
    "3A. Create Bucket": { "main": [[{ "node": "4. Make Response Email", "type": "main", "index": 0 }]] },
    "3B. Delete Bucket": { "main": [[{ "node": "4. Make Response Email", "type": "main", "index": 0 }]] },
    "3C. Get Bucket": { "main": [[{ "node": "4. Make Response Email", "type": "main", "index": 0 }]] },
    "3D. List Buckets": { "main": [[{ "node": "4. Make Response Email", "type": "main", "index": 0 }]] },
    "3E. Update Bucket": { "main": [[{ "node": "4. Make Response Email", "type": "main", "index": 0 }]] },
    "4. Make Response Email": { "main": [[{ "node": "5. Send Email Response", "type": "main", "index": 0 }]] }
  }
}